*{
    margin: 0;
    padding: 0;
    font-family: consolas;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: black
}

.grantparent{
    background: rgb(231, 94, 94);
    width: 600px;
    height: 600px;
     display: grid;
    place-items: center;

}
.parent{
    background: rgb(0, 68, 255);
    width: 400px;
    height: 400px;
     display: grid;
    place-items: center;
}
.child{
    background: rgb(40, 104, 11);
    width: 200px;
    height: 200px;
}

